<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  		<link rel="stylesheet" href="<%= local.setting.basepath %>web/css/bootstrap.min.css">
  		<link rel="stylesheet" href="<%= local.setting.basepath %>web/css/font-awesome.min.css">
		<link rel="stylesheet" href="<%= local.setting.basepath %>web/css/owl.carousel.min.css">
		<link rel="stylesheet" href="<%= local.setting.basepath %>web/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="<%= local.setting.basepath %>web/css/linecons.css">
		<link rel="stylesheet" href="<%= local.setting.basepath %>web/css/animate.css">
		<link rel="stylesheet" type="text/css" href="<%= local.setting.basepath %>web/css/font-awesome.min.css">
		<link rel="stylesheet" href="<%= local.setting.basepath %>web/css/main.css">

		<script src="<%= local.setting.basepath %>web/js/jquery-3.2.1.min.js"></script>
		
		

 

