<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  		<link rel="stylesheet" href="<%= local.setting.basepath %>web/css/bootstrap.min.css">
  		<link rel="stylesheet" href="<%= local.setting.basepath %>web/css/font-awesome.min.css">
		<link rel="stylesheet" href="<%= local.setting.basepath %>web/css/owl.carousel.min.css">
		<link rel="stylesheet" href="<%= local.setting.basepath %>web/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="<%= local.setting.basepath %>web/css/linecons.css">
		<link rel="stylesheet" href="<%= local.setting.basepath %>web/css/animate.css">
		<link rel="stylesheet" type="text/css" href="<%= local.setting.basepath %>web/css/font-awesome.min.css">
		<link rel="stylesheet" href="<%= local.setting.basepath %>web/css/main.css">
		<link rel="stylesheet" href="/assets/plugins/owlcarousel/owl.carousel.min.css">
    	<link rel="stylesheet" href="<%= local.setting.basepath %>web/css/noti.css">

		<script src="<%= local.setting.basepath %>web/js/jquery-3.2.1.min.js"></script>
		<!-- Socket IO -->
		<script src="/assets/plugins/socket.io/socket.io.js"></script>
		<script src="/web/js/route-socket.js"></script>
		<!-- SwAl2 -->
		<script src="<%= local.setting.basepath %>components/sweetalert2/dist/sweetalert2.all.min.js"></script>
		<script src="<%= local.setting.basepath %>assets/plugins/blobjs/canvas_to_blob.min.js"></script>
		<script src="/assets/plugins/owlcarousel/owl.carousel.min.js"></script>







