<% include ../include/header %>

<!--include css:-->
<link rel="stylesheet" type="text/css" href="/web/css/profile_new.css">

</head>
<body>
		<% include ../include/nav-bar %>
        <% if(message.length > 0) {%>
            <% if (message == 'success') {%>
                <script>
                    swal('Thành công!', 'Hồ sơ của bạn đã cập nhật thành công!', 'success');
                </script>
            <%} else{ %>
                <script>
                    swal('Oops!', 'Có gì đó sai sai đã xảy ra, bạn thử lại đi!', 'warning');
                </script>
            <%}%>
        <%}%>
        <section id="prfAvatar">
            <div class="bg-img efx-blur" style="background-image: url('<%= data.avatar %>')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="avatar sh-round box-shadow" id="bxAvatar" style="background-image: url('<%= data.avatar %>')">
                            <% if(self) {%>
                            <button id="btnChangeAva">Upload Avatar</button>
                            <%}%>
                        </div>
                        
                        <div class="username">
                            <h3><%= data.fullname %></h3>
                            <h5><%= data.age %> tuổi</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="basicInfo">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="white-box border-radius box-shadow">
                            <div class="white-box-title">
                                <h5><span class="li_star" aria-hidden="true"></span> Thông tin cơ bản</h5>
                                <% if(self) { %>
                                <a href="javascript:void(0)" onclick="changeStateInp(this)" data-target="frmBasicInfo">Chỉnh sửa <span class="li_pen" aria-hidden="true"></span></a>
                                <%}%>
                            </div>
                            <div class="white-box-body">
                                <form id="frmBasicInfo" method="post" action="<%= local.setting.basepath %>home/profile-new">
                                        <input type="hidden" name="_csrf" value="<%= csrf %>">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-user-o"></i> Họ và tên</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="FullName" class="span-inp"><%= data.fullname %></span>
                                            <%if(self){%>
                                            <input type="text" class="form-control inp-zlove hidden" name="inpFullName" value="<%= data.fullname %>" required >
                                            <%}%>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-transgender"></i> Giới tính</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="Gender" class="span-select"><%= data.txtgender %></span>
                                            <%if(self){%>
                                            <select name="sltGender" class="form-control inp-zlove hidden" default-value="<%= data.gender%>">
                                                <option value="1" <% if (data.gender == 1){ %> selected <%}%> >Nam</option>
                                                <option value="2" <% if (data.gender == 2){ %> selected <%}%> >Nữ</option>
                                            </select>
                                            <%}%>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-birthday-cake"></i> Sinh nhật</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="Birthday" class="span-inp"><%= data.birthday %></span>
                                            <%if(self){%>
                                            <input type="text" class="hidden form-control inp-zlove datepicker" name="inpBirthday" value="<%= data.birthday %>" required>
                                            <%}%>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-map-marker"></i> Nơi ở</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="Place" class="span-select"><%= data.crrPlace %></span>
                                            <%if(self){%>
                                            <select name="sltCurrPlace" class="form-control hidden inp-zlove" default-value="<%= data.noCrrPlace %>">
                                                <% for(var i=0; i < data.cities.length; i++) { %>
                                                    <% if (i == (data.noCrrPlace*1-1)) { %>
                                                        <option value="<%= (i+1) %>" selected><%= data.cities[i]%></option>
                                                    <%} else{%>
                                                        <option value="<%= (i+1) %>"><%= data.cities[i] %></option>
                                                    <%}%>
                                                <%}%>
                                            </select>
                                            <%}%>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-male"></i> Tình trạng quan hệ</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="Relationship" class="span-select"><% if(data.relation == 0) {%> Độc thân <%} else{ %> Đang hẹn hò <%} %></span>
                                            <%if(self){%>
                                            <select name="sltRela" class="form-control hidden inp-zlove" default-value="<%= data.relation %>">
                                                <option value="0">Độc thân</option>
                                                <option value="1">Đang hẹn hò</option>
                                            </select>
                                            <%}%>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-id-card-o"></i> Công việc và học vấn</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="Working" class="span-select"><%= data.txtworking%></span>
                                            <%if(self){%>
                                            <select class="hidden form-control inp-zlove" default-value="<%=data.working%>" name="sltWorking">
                                                <option value="0" <% if(data.working == 0) { %> selected <% } %> >Sinh viên</option>
                                                <option value="1" <% if(data.working == 1) { %> selected <% } %> >Đang đi làm</option>
                                                <option value="2" <% if(data.working == 2) { %> selected <% } %> >Đang tìm việc</option>
                                            </select>
                                            <%}%>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-suitcase"></i> Công tác tại</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="WorkingPlace" class="span-inp"><%= data.workingat%></span>
                                            <%if(self){%>
                                            <input type="text" name="inpWorkingPlace" class="form-control hidden inp-zlove" value="<%= data.workingat %>" required>
                                            <%}%>
                                        </div>
                                    </div>
                                    <%if(self){%>
                                    <input type="submit" class="hidden">
                                    <%}%>
                                </form>
                                <%if(self){%>
                                <div class="act-button">
                                    <button class="btn-cancel" onclick="changeStateInp(this)" data-target="frmBasicInfo">Hủy bỏ</button>
                                    <button class="btn-save" id="btnSave">Lưu lại</button>
                                </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
        <% include ../include/footer-main %>

        <input class="hidden" value="<%=csrf%>" name="_csrf">
        <input class="hidden" value="<%=userid%>" name="_userid">

        <script src="<%= local.setting.basepath %>web/js/profile.js"></script>
<% include ../include/footer %>