<% include ../include/header %>

<!--include css:-->
<link rel="stylesheet" type="text/css" href="/web/css/profile_new.css">

</head>
<body>
		<% include ../include/nav-bar %>

        <section id="prfAvatar">
            <div class="bg-img efx-blur" style="background-image: url('<%= data.avatar %>')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="avatar sh-round box-shadow" id="bxAvatar" style="background-image: url('<%= data.avatar %>')">
                            <% if(self) {%>
                            <button id="btnChangeAva">Upload Avatar</button>
                            <%}%>
                        </div>
                        
                        <div class="username">
                            <h3><%= data.fullname %></h3>
                            <h5><%= data.age %> tuổi</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="basicInfo">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="white-box border-radius box-shadow">
                            <div class="white-box-title">
                                <h5><span class="li_star" aria-hidden="true"></span> Thông tin cơ bản</h5>
                                <% if(self) { %>
                                <a href="javascript:void(0)" onclick="changeStateInp(this)" data-target="frmBasicInfo">Chỉnh sửa <span class="li_pen" aria-hidden="true"></span></a>
                                <%}%>
                            </div>
                            <div class="white-box-body">
                                <form id="frmBasicInfo">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-user-o"></i> Họ và tên</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="FullName" class="span-inp"><%= data.fullname %></span>
                                            <input type="text" class="form-control inp-zlove hidden" name="inpFullName" value="<%= data.fullname %>" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-transgender"></i> Giới tính</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="Gender" class="span-select"><%= data.gender %></span>
                                            <select name="sltGender" class="form-control inp-zlove hidden" default-value="<%= data.gender%>">
                                                <option value="0">Nam</option>
                                                <option value="1">Nữ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-birthday-cake"></i> Sinh nhật</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="Birthday" class="span-inp"><%= data.birthday %></span>
                                            <input type="text" class="hidden form-control inp-zlove" name="inpBirthday" value="<%= data.birthday %>" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-map-marker"></i> Nơi ở</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="Place" class="span-select"><%= data.crrPlace %></span>
                                            <select name="sltCurrPlace" class="form-control hidden inp-zlove" default-value="<%= data.noCrrPlace %>">
                                                <% for(var i=0; i < data.cities.length; i++) { %>
                                                    <% if (i == (data.noCrrPlace*1-1)) { %>
                                                        <option value="<%= (i+1) %>" selected><%= data.cities[i]%></option>
                                                    <%} else{%>
                                                        <option value="<%= (i+1) %>"><%= data.cities[i] %></option>
                                                    <%}%>
                                                <%}%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-male"></i> Tình trạng quan hệ</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="Relationship" class="span-select"><%= data.relation %></span>
                                            <select name="sltRela" class="form-control hidden inp-zlove" default-value="<%= data.relation %>">
                                                <option value="0">Độc thân</option>
                                                <option value="1">Đang hẹn hò</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-id-card-o"></i> Công việc và học vấn</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="Working" class="span-select"><%= data.working%></span>
                                            <input type="text" name="inpWorking" class="hidden form-control inp-zlove" value="<%= data.working%>" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-suitcase"></i> Công tác tại</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="WorkingPlace" class="span-select"><%= data.workingat%></span>
                                            <input type="text" name="inpWorkingPlace" class="form-control hidden inp-zlove" value="<%= data.workingat %>" required>
                                        </div>
                                    </div>
                                </form>
                                <%if(self){%>
                                <div class="act-button">
                                    <button class="btn-cancel" onclick="changeStateInp(this)" data-target="frmBasicInfo">Hủy bỏ</button>
                                    <button class="btn-save" id="btnSave">Lưu lại</button>
                                </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
		
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="social-icon">
                            <ul>
                                <li><a href="#"><span class="sc-icon sc-fb"></span></a></li>
                                <li><a href="#"><span class="sc-icon sc-insta"></span></a></li>
                                <li><a href="#"><span class="sc-icon sc-gplus"></span></a></li>
                                <li><a href="#"><span class="sc-icon sc-tw"></span></a></li>
                                <li><a href="#"><span class="sc-icon sc-yt"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="bottom-menu">
                            <ul>
                                <li><a href="#">Về chúng tôi</a></li>
                                <li><a href="#">Hướng dẫn</a></li>
                                <li><a href="#">Điều khoản</a></li>
                                <li><a href="#">Chính sách bảo mật</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Liên hệ với chúng tôi</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                Xây dựng và phát triển bởi Ziczac Team. Copyright © 2017. All rights reserved.
            </div>
        </footer>

        <input class="hidden" value="<%=csrf%>" name="_csrf">
        <input class="hidden" value="<%=userid%>" name="_userid">

        <script src="<%= local.setting.basepath %>web/js/profile.js"></script>
<% include ../include/footer %>