<% include ../include/header %>

<!--include css:-->
<link rel="stylesheet" type="text/css" href="/web/css/profile_new.css">
<link rel="stylesheet" href="/assets/plugins/cropper/cropper.css">
<link rel="stylesheet" href="/assets/plugins/datepicker/datepicker.min.css">

</head>
<body>
    <% include ../include/loading %>
		<% include ../include/nav-bar %>
        <% if(message.length > 0) {%>
            <% if (message == 'success') {%>
                <script>
                    swal('Thành công!', 'Hồ sơ của bạn đã cập nhật thành công!', 'success');
                </script>
            <%} else{ %>
                <script>
                    swal('Oops!', 'Có gì đó sai sai đã xảy ra, bạn thử lại đi!', 'warning');
                </script>
            <%}%>
        <%}%>
        <section id="prfAvatar">
            <div class="bg-img efx-blur" style="background-image: url('<%= data.avatar %>')"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="avatar sh-round box-shadow" id="bxAvatar" style="background-image: url('<%= data.avatar %>')">
                            <% if(self) {%>
                                <label for="inpUploadAvatar">
                                    Upload Avatar
                                </label>
                                <input type="file" class="hidden" id="inpUploadAvatar" accept="image/x-png,image/jpeg">
                            <%} else{%>
                                <button class="btn-startchat"><span class="li_bubble"></span></button>
                            <%}%>
                        </div>

                        <div class="username">
                            <h3><%= data.fullname %></h3>
                            <h5><%= data.age %> tuổi</h5>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="basicInfo">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="white-box border-radius box-shadow">
                            <div class="white-box-title">
                                <h5><span class="li_star" aria-hidden="true"></span> Thông tin cơ bản</h5>
                                <% if(self) { %>
                                <a href="javascript:void(0)" onclick="changeStateInp(this)" data-target="frmBasicInfo">Chỉnh sửa <span class="li_pen" aria-hidden="true"></span></a>
                                <%}%>
                            </div>
                            <div class="white-box-body">
                                <form id="frmBasicInfo" method="post" action="<%= local.setting.basepath %>home/profile-new">
                                        <input type="hidden" name="_csrf" value="<%= csrf %>">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-user-o"></i> Họ và tên</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="FullName" class="span-gr-inp"><%= data.fullname %></span>
                                            <%if(self){%>
                                                <div class="row hidden">
                                                    <div class="col-xs-6">
                                                        <input required type="text" class="form-control inp-zlove" name="inpFirstname" default-value="<%= data.firstname%>" value="<%= data.firstname%>">
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <input required type="text" class="form-control inp-zlove" name="inpLastname" default-value="<%= data.lastname%>" value="<%= data.lastname%>">
                                                    </div>
                                                </div>
                                            <%}%>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-transgender"></i> Giới tính</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="Gender" class="span-select"><%= data.txtgender %></span>
                                            <%if(self){%>
                                            <select name="sltGender" class="form-control inp-zlove hidden" default-value="<%= data.gender%>">
                                                <option value="1" <% if (data.gender == 1){ %> selected <%}%> >Nam</option>
                                                <option value="2" <% if (data.gender == 2){ %> selected <%}%> >Nữ</option>
                                            </select>
                                            <%}%>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-birthday-cake"></i> Sinh nhật</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="Birthday" class="span-inp"><%= data.birthday %></span>
                                            <%if(self){%>
                                            <input type="text" class="hidden form-control inp-zlove" data-toggle="datepicker" name="inpBirthday" value="<%= data.birthday %>" required>
                                            <%}%>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-map-marker"></i> Nơi ở</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="Place" class="span-select"><%= data.crrPlace %></span>
                                            <%if(self){%>
                                            <select name="sltCurrPlace" class="form-control hidden inp-zlove" default-value="<%= data.noCrrPlace %>">
                                                <% for(var i=0; i < data.cities.length; i++) { %>
                                                    <% if (i == (data.noCrrPlace*1-1)) { %>
                                                        <option value="<%= (i+1) %>" selected><%= data.cities[i]%></option>
                                                    <%} else{%>
                                                        <option value="<%= (i+1) %>"><%= data.cities[i] %></option>
                                                    <%}%>
                                                <%}%>
                                            </select>
                                            <%}%>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-male"></i> Tình trạng quan hệ</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="Relationship" class="span-select"><% if(data.relation == 0) {%> Độc thân <%} else{ %> Đang hẹn hò <%} %></span>
                                            <%if(self){%>
                                            <select name="sltRela" class="form-control hidden inp-zlove" default-value="<%= data.relation %>">
                                                <option value="0" <%if(data.relation == 0){%>selected <%}%> >Độc thân</option>
                                                <option value="1" <%if(data.relation == 1){%>selected <%}%>>Đang hẹn hò</option>
                                            </select>
                                            <%}%>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-id-card-o"></i> Công việc và học vấn</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="Working" class="span-select"><%= data.txtworking%></span>
                                            <%if(self){%>
                                            <select class="hidden form-control inp-zlove" default-value="<%=data.working%>" name="sltWorking">
                                                <option value="0" <% if(data.working == 0) { %> selected <% } %> >Sinh viên</option>
                                                <option value="1" <% if(data.working == 1) { %> selected <% } %> >Đang đi làm</option>
                                                <option value="2" <% if(data.working == 2) { %> selected <% } %> >Đang tìm việc</option>
                                            </select>
                                            <%}%>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-suitcase"></i> Công tác tại</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <span id="WorkingPlace" class="span-inp"><%= data.workingat%></span>
                                            <%if(self){%>
                                            <input type="text" name="inpWorkingPlace" class="form-control hidden inp-zlove" value="<%= data.workingat %>" required>
                                            <%}%>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-6">
                                            <span class="frm-field"><i class="fa fa-info-circle"></i> Giới thiệu bản thân</span>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <article id="Introduction"><%= data.intro%></article>
                                            <%if(self){%>
                                            <textarea class="form-control hidden inp-zlove" name="introduction"rows="10"><%= data.intro%></textarea>
                                            <%}%>
                                        </div>
                                    </div>
                                    <%if(self){%>
                                    <input type="submit" class="hidden">
                                    <%}%>
                                </form>
                                <%if(self){%>
                                <div class="act-button">
                                    <button class="btn-cancel" onclick="changeStateInp(this)" data-target="frmBasicInfo">Hủy bỏ</button>
                                    <button class="btn-save" id="btnSave">Lưu lại</button>
                                </div>
                                <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="cropImage" class="zmodal zmodal-backdrop">
            <div class="zmodal-wrap">
                <div class="zmodal-header">
                    <h5 class="zmodal-title">Editting</h5>
                    <span class="close-zmodal text-right"><i class="fa fa-remove" aria-hidden="true"></i></span>
                </div>
                <div class="zmodal-body">
                    <div class="zmodal-loading">
                        <img src="/web/images/heart.gif" alt="">
                    </div>
                    <div id="prvImg" class="hidden">
                        <img id="cropperImg" src="" class="imgPreview">
                    </div>
                </div>
                <div class="zmodal-footer">
                    <button class="btn-cancel border-radius">Cancel</button>
                    <button class="btn-save border-radius" id="btnSaveAvatar">Save</button>
                </div>
            </div>
        </div>

        <% include ../include/footer-main %>

        <input class="hidden" value="<%=csrf%>" name="_csrf">
        <input class="hidden" value="<%=userid%>" name="_userid">
        <script src="/assets/plugins/datepicker/datepicker.min.js"></script>
        <script src="<%= local.setting.basepath %>assets/plugins/cropper/cropper.js"></script>
        <script src="<%= local.setting.basepath %>web/js/profile.js"></script>
<% include ../include/footer %>
